<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%=blog.title%> Post</div>
    <!--The method override makes up for html forms being unable to do put requests-->
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <!--putting all the values into an object allows us to spit out the entire object in app.js easily-->
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%=blog.title%>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%=blog.image%>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" required><%=blog.body%></textarea>
        </div>
        <input class="ui violet big inverted button" type="submit">
    </form>
</div>

<% include ./partials/footer %>